

.container{
    width:600px;
    position:relative;

    top:15px;
    left:15px;
    grid-template-columns: 100px 100px 100px ;
    
    display:grid;
    border:2px solid rgb(0, 0, 0);
}
.item{
  height:65px;
    border:2px solid rgb(0, 0, 0);
    
}
.window_1{ 
    margin: 15px;
    height: 35px;
    width:35px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:1;
    grid-column-end: 2;
    
    background-color:rgb(252, 252, 252);
    border:2px solid rgb(0, 0, 0);
    } 
 .window_2{ 

        margin: 15px;
        height: 35px;
        width:35px;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start:3;
        grid-column-end: 4;
        
        background-color:rgb(252, 252, 252);
        border:2px solid rgb(0, 0, 0);
 } 
 .window_3{ 

    margin: 15px;
    height: 35px;
    width:35px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:1;
    grid-column-end: 2;
    
    background-color:rgb(252, 252, 252);
    border:2px solid rgb(0, 0, 0);
} .window_4{ 

    margin: 15px;
    height: 35px;
    width:35px;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start:3;
    grid-column-end: 4;
    
    background-color:rgb(252, 252, 252);
    border:2px solid rgb(0, 0, 0);
} 

.item_8{
    
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:1;
    grid-column-end: 4;
    
    background-color:rgb(164, 229, 238);
    
}
.item_7{
   
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:4;
    grid-column-end: 5;
    
    background-color:rgb(160, 198, 233);
}
.item_6{
    
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:1;
    grid-column-end: 4;
    
    background-color:rgb(164, 229, 238);

}
.item_5{
    
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:4;
    grid-column-end: 5;
    
    background-color:rgb(160, 198, 233);
}
.item_4{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:1;
    grid-column-end: 4;
    
    background-color:rgb(164, 229, 238);

}
.item_3{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:4;
    grid-column-end: 5;
    
    background-color:rgb(160, 198, 233);
}
.item_2{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start:1;
    grid-column-end: 4;
    
    background-color:rgb(164, 229, 238);

}
.item_1{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start:4;
    grid-column-end: 5;
    
    background-color:rgb(160, 198, 233);
}